doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0")
		title Webinate

	
	link(rel="stylesheet",type="text/css",href=url + "/style.css")
	link(rel="stylesheet",type="text/css",href=url + "/animate.css")
	link(rel="stylesheet",type="text/css",href=url + "/style-jssor.css")
	link(href="https://fonts.googleapis.com/css?family=Lily+Script+One", rel="stylesheet", type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300", rel="stylesheet", type="text/css")
	script(type="text/javascript").
		var _users = "#{usersURL}"
	script(type="text/javascript", src=url + "/js-libs/jquery-2.1.3.min.js")
	script(type="text/javascript", src=url + "/js-libs/angular.min.js")
	script(type="text/javascript", src=url + "/js-libs/angular-ui-router.min.js")
	script(type="text/javascript", src=url + "/js-libs/angular-animate.min.js")
	script(type="text/javascript", src=url + "/js-libs/angular-sanitize.min.js")
	script(type="text/javascript", src=url + "/js-libs/jssor.slider.mini.js")
	script(type="text/javascript", src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js")
	script(type="text/javascript", src=url + "/main.js")
	script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?sensor=false")
	
	base(href="/")

	body
		noscript
			iframe(src="//www.googletagmanager.com/ns.html?id=GTM-KDLNNK", height="0", width="0", style="display:none;visibility:hidden")
		script(type="text/javascript").
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KDLNNK');
		div(class="container", ng-app="modepress")
			div(class="nav-outer", ng-include="'templates/nav.html'")
			div(class="content-outer")
				div(class="content", ui-view)
					div
						= Loading
				div(class="fix")
				div(class="footer", ng-include="'templates/footer.html'")