doctype html
html(lang="en", data-ng-app="blacktip")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0")
		meta(name="fragment", content="!")
		title(data-ng-bind="meta.title")
		meta(name="description", content="{{meta.description}}")
		meta(name="twitter:card", content="{{meta.description}}")
		meta(name="twitter:site", content="{{meta.twitterSite}}")
		meta(name="twitter:title", content="{{meta.title}}")
		meta(name="twitter:description", content="{{meta.description}}")
		meta(name="twitter:creator", content="{{meta.twitterAuthor}}")
		meta(name="twitter:image", content="{{meta.smallImage}}")
		meta(property="og:title", content="{{meta.title}}")
		meta(property="og:type", content="article")
		meta(property="og:url", content="{{meta.url}}")
		meta(property="og:image", content="{{meta.bigImage}}")
		meta(property="og:description", content="{{meta.description}}")
		meta(property="og:site_name", content="{{meta.website}}")

		link(rel="stylesheet",type="text/css",href=url + "/style.css")
		link(rel="stylesheet",type="text/css",href=url + "/loading-bar.css")
		link(rel="stylesheet",type="text/css",href=url + "/animate.css")
		link(rel="stylesheet",type="text/css",href=url + "/style-jssor.css")
		link(href="https://fonts.googleapis.com/css?family=Lily+Script+One", rel="stylesheet", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300", rel="stylesheet", type="text/css")
		script(type="text/javascript").
			var _users = "#{usersURL}"
			var _url = "#{url}"
			window.prerenderReady = false;
		script(type="text/javascript", src=url + "/js-libs/jquery-2.1.3.min.js")
		script(type="text/javascript", src=url + "/js-libs/angular.min.js")
		script(type="text/javascript", src=url + "/js-libs/angular-ui-router.min.js")
		script(type="text/javascript", src=url + "/js-libs/angular-animate.min.js")
		script(type="text/javascript", src=url + "/js-libs/angular-sanitize.min.js")
		script(type="text/javascript", src=url + "/js-libs/jssor.slider.mini.js")
		script(type="text/javascript", src=url + "/js-libs/loading-bar.min.js")
		script(type="text/javascript", src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js")
		script(type="text/javascript", src=url + "/main.js")
		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?sensor=false")
	
		base(href="/")
		script(type="text/javascript").
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-31314318-1', 'auto'); ga('send', 'pageview');

	body
		div(class="container")
			div(class="nav-outer", data-ng-include="'templates/nav.html'")
			div(class="content-outer")
				div(class="content", ui-view, autoscroll='true')
					img(src="/admin/media/images/loader.gif")
				div(class="fix")
				div(class="footer", data-ng-include="'templates/footer.html'", data-ng-controller="footerCtrl as controller")